.btn {
  display: inline-block;
  width: auto;
  padding: 36px 15px;
  font-family: $font_title;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $black;
  background-color: $white;
  border-radius: 0;
  border: 2px solid $white;
  text-decoration: none;
  transition: all 0.5s;

  &--block {
    display: block;
    width: 100%;
  }

  &--light {
    // background-color: transparent;
    // border-color: rgba($white, 0.4);
  }

  &--dark {
    // background-color: transparent;
    // border-color: rgba($black, 0.16);
  }

  &--primary {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
      background-color: rgba($primary, 0.8);
      border-color: rgba($primary, 0.8);
    }
    &:active {
      // background-color: mix($primary-10, $darkness, 85%);
      // border-color: mix($primary-10, $darkness, 85%);
    }
    &[disabled] {
      // background-color: mix($black, $white, 20%);
      // border-color: mix($black, $white, 20%);
    }
  }

  &--secondary {
    background-color: $bg;
    border: 1px solid $buttongrey;
    color: $primary;

    font-family: $font_default;
    font-weight: 900;
    line-height: 26px;
    padding: 11px 15px;
    &:before {
      margin-right: 5px;
    }
    &:hover {
      // background-color: transparent;
      // border-color: rgba($blackish, 0.3);
    }
    &:active {
      // background-color: transparent;
      // border-color: rgba($blackish, 0.4);
    }
    &[disabled] {
      // background-color: transparent;
      // border-color: rgba($blackish, 0.2);
      // color: rgba($blackish, 0.3);
    }
  }

  &--option {
    // background-color: $white;
    // border-color: $white;
    // color: $blackish;
    &:hover {
      // background-color: rgba($white, 0.8);
      // border-color: rgba($white, 0.8);
    }
    &:active {
      // background-color: mix($white, $darkness, 85%);
      // border-color: mix($white, $darkness, 85%);
    }
    &[disabled] {
      // background-color: mix($black, $white, 20%);
      // border-color: mix($black, $white, 20%);
    }
  }

  &:hover {
    text-decoration: none;
  }
}
