.content-slider {
  display: flex;
  padding-bottom: 100px;
  @include media("<tablet") {
    flex-direction: column;
  }
  &__text {
    width: calc(100% / 12 * 7);
    @include media("<tablet") {
      width: 100%;
    }
    &__title {
      font-family: $font_title;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 1px;
      color: $corporative;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    &__content {
      p,h3 {
        font-size: 16px;
        line-height: 26px;
        color: $darkgrey;
        padding-bottom: 10px;
        &.lead {
          font-weight: 900;
          color: $black;
          padding-bottom: 15px;
        }
      }
      .checklist {
        > li {
          font-size: 16px;
          line-height: 26px;
          color: $darkgrey;
          padding-bottom: 10px;
          padding-left: 33px;
          position: relative;
          ul {
            padding-top: 20px;
          }
          &:before {
            @extend .icon-check;
            display: block;
            position: absolute;
            left: 0;
            top: 5px;
            font-size: 18px;
            color: $primary;
            margin-right: 15px;
          }
        }
      }
      .bulletlist {
        li {
          font-size: 16px;
          line-height: 26px;
          color: $darkgrey;
          padding-bottom: 10px;
          padding-left: 20px;
          position: relative;
          &:before {
            content: '';
            display: block;
            padding: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $darkgrey;
            position: absolute;
            left: 0;
            top: 12px;
          }
        }
      }
      .content-block {
        margin-bottom: 15px;
      }
      .lock-bullet {
        width: 18px;
        display: inline-block;
        margin-right: 15px;
        position: relative;
        top: 5px;
      }
    }
  }
  &__slider {
    width: calc(100% / 12 * 5);
    position: relative;
    padding-top: 46px;
    @include media("<tablet") {
      width: 100%;
      padding: 46px 20px 0 20px;
    }
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          background-size: cover;
          background-position: center center;
          width: 100%;
          height: 350px;
          position: relative;
          @include media("<desktop") {
            height: 300px;
          }
        }
      }
    }
    &__navigation {
      position: absolute;
      right: 40px;
      top: 0;
      z-index: 1;
      width: 84px;
      height: 46px;

      @include media("<tablet") {
        position: relative;
        right: auto;
        top: auto;
        width: 100px;
        height: 50px;
        float: right;
      }
      @include media("<phablet") {
        float: none;
        width: 100%;
        height: 50px;
      }
      .icon {
        font-size: 32px;
        color: $corporative;
      }
      .swiper-button-prev {
        margin-top: 0;
        position: static;
        background-image: none;
        width: 32px;
        height: 22px;
        float: left;
        @include media("<tablet") {
          margin-top: 28px;
        }
        &.swiper-button-disabled {
          opacity: 1;
          .icon {
            color: $lightgrey;
          }
        }
      }
      .swiper-button-next {
        margin-top: 0;
        position: static;
        background-image: none;
        width: 32px;
        height: 22px;
        float: right;
        @include media("<tablet") {
          margin-top: 28px;
        }
        &.swiper-button-disabled {
          opacity: 1;
          .icon {
            color: $lightgrey;
          }
        }
      }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
  &--left {
    .content-slider__text {
      padding-left: 174px;
      @include media("<tablet") {
        padding-left: 40px;
        padding-right: 40px;
      }
      @include media("<phablet") {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .content-slider__slider {
      padding-left: 50px;
      @include media("<tablet") {
        padding-left: 20px;
        // max-height: 300px;
        // display: flex;
        // align-items: center;
        // overflow: hidden;
      }
    }
  }
  &--right {
    flex-direction: row-reverse;
    @include media("<tablet") {
      flex-direction: column;
    }
    .content-slider__text {
      padding-right: 174px;
      @include media("<tablet") {
        padding-left: 40px;
        padding-right: 40px;
      }
      @include media("<phablet") {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .content-slider__slider {
      padding-right: 50px;
      @include media("<tablet") {
        padding-right: 20px;
        max-height: 300px;
        display: flex;
        align-items: center;
        overflow: hidden;
      }
    }
  }
}
