.footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;


  @include media("<phablet") {
    flex-direction: column-reverse;
  }

  &__content {
    width: 80%;
    padding: 0 30px;
    background-color: $secondary;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media("<phablet") {
      flex-direction: column-reverse;
      padding: 40px 5px 0 15px;
      width: 100%;
    }
    p {
      font-size: 12px;
      color: $lightgrey;
      line-height: 80px;
      @include media("<phablet") {
        line-height: 16px;
        padding-bottom: 25px;
      }
    }
    &__nav {
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      @include media("<phablet") {
        flex-direction: column;
        margin-bottom: 40px;
      }
      li {
        padding: 0 40px 0 0  ;
        &:last-of-type{
          padding-right: 0px;
        }
        @include media("<phablet") {
          padding: 0;
          margin-bottom: 20px;
        }
        a {
          font-size: 12px;
          line-height: 80px;
          color: $white;
          text-decoration: none;
          position: relative;
          @include media("<phablet") {
            font-size: 16px;
            line-height: 26px;
          }
          &:before {
            content: '';
            width: 0;
            height: 2px;
            background-color: $white;
            position: absolute;
            left: 0;
            bottom: -7px;
            transition: all 0.5s;
          }
          &:hover {
            &:before {
              width: 100%;
            }
          }
        }
      }
    }
  }
  /*&:before {
    content: '';
    display: block;
    background-color: $secondary;
    position: absolute;
    height: 80px;
    bottom: 0;
    left: 0;
    width: 50vw;
    z-index: -1;
  }*/
  .container {
    padding-right: 0;
  }
  &__social {
    min-width: 228px;
    @include media("<phablet") {
      width: 100%;
      padding: 30px 0;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: space-between;
      padding: 0 30px;
      li {
        margin: 0 5px;
        @include media("<phablet") {
          margin: 0 15px;
        }
        a {
          text-decoration: none;
        }
        &:not(.share-text) {
          width: 46px;
          height: 46px;
          border-radius: 23px;
          background-color: $primary;
          text-align: center;
        }
        &.share-text {
          span {
            display: inline-block;
            font-size: 14px;
            font-weight: 900;
            line-height: 26px;
            color: $black;
            padding-right: 20px;
          }
        }
        .icon {
          color:$inputgrey;
          position: relative;
          &.icon-facebook {
            font-size: 16px;
            top: 13px;
            left: 4px;
          }
          &.icon-twitter {
            font-size: 18px;
            top: 14px;
          }
          &.icon-gplus {
            font-size: 25px;
            top: 13px;
          }
        }

        .img-linkedin {
          max-width: 16px;
          margin: 15px 0 0 15px;
          width: auto;
        }
      }
    }
  }
}
