.header {
  background-color: $white;
  width: 100%;
  max-width: 1600px;

  display: flex;
  margin: 0 auto;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  &__logo {
    width: 234px;
    height: 100px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    @include media("<desktop") {
      width: 170px;
    }
    @include media("<tablet") {
      position: absolute;
      top: 49px;
      height: 41px;
      width: 124px;
      padding: 0 10px;
    }
    @include media("<phablet") {
      height: auto;
      width: 100px;
      padding: 0 0 0 14px;
      top: 30px;
    }
    &__logo {
      width: auto;
      height: 100%;
      max-height: 80px;
      @include media("<phablet") {
        // height: auto;
        // width: 100%;
        max-height: 37px;
      }
    }
  }

  &__navs {
    width: calc(100% - 234px - 235px);
    @include media("<desktop") {
      width: calc(100% - 170px - 200px);
    }
    @include media("<tablet") {
      width: 100%;
      box-shadow: 0px 0px 2px rgba(0, 36, 73, 0.3);
    }
    &__info {
      display: flex;
      justify-content: space-between;
      background-color: $secondary;
      color: $white;
      height: 39px;
      @include media("<phablet") {
        height: 29px;
      }
      a {
        color: $white;
        text-decoration: none;
      }
      ul {
        display: flex;
        li {
          a {
            line-height: 39px;
            height: 39px;
            display: block;
            @include media("<phablet") {
              line-height: 29px;
              height: 29px;
            }
          }
        }
      }
      &__left {
        padding-left: 18px;
        @include media("<desktop") {
          padding-left: 0;
        }
        @include media("<phablet") {
          width: 100%;
          justify-content: center;
        }
        li {
          padding-left: 23px;
          @include media("<desktop") {
            padding-left: 10px;
          }
          .icon-location {
            font-size: 19px;
            @include media("<375px") {
              font-size: 15px;
            }
          }
          .icon-phone {
            font-size: 15px;
          }
          .icon-mail {
            display: inline-block;
            position: relative;
            top: 4px;
            font-size: 19px;
            @include media("<375px") {
              font-size: 15px;
            }
          }
          .text {
            font-size: 12px;
            display: inline-block;
            padding-left: 11px;
            @include media("<phablet") {
              padding-left: 5px;
            }
            @include media("<375px") {
              font-size: 10px;
            }
          }
          &.phone-number {
            @include media("<phablet") {
              height: 21px;
              position: absolute;
              top: 42px;
              left: 50%;
              transform: translateX(-50%);
              a {
                height: 21px;
                line-height: 21px;
              }
              .text {
                color: $primary;
                vertical-align: text-bottom;
              }
              .icon-phone {
                color: $primary;
                font-size: 19px;
              }
            }
          }
        }
      }
      &__right {
        padding-right: 24px;
        @include media("<desktop") {
          padding-right: 0;
        }
        li {
          padding-right: 15px;
          a {
            font-size: 12px;
            font-weight: 900;
            opacity: 0.7;
            &.active {
              font-weight: normal;
              opacity: 1;
              pointer-events: none;
            }
          }
        }
      }
    }


    &__menu {
      @include media("<phablet") {
        height: 42px;
        display: flex;
        justify-content: flex-end;
      }
      ul {
        display: flex;
        justify-content: center;
        @include media("<tablet") {
          justify-content: flex-start;
          padding-left: 150px;
        }
        @include media("<phablet") {
          display: none;
        }
        li {
          a,h1 {
            display: inline-block;
            padding: 0 20px;
            line-height: 61px;
            height: 61px;
            font-size: 12px;
            font-weight: 900;
            text-decoration: none;
            text-transform: uppercase;
            color: $primary;
          }
          &.active {
            a {
              position: relative;
              &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 20px;
                right: 20px;
                height: 5px;
                background-color: $primary;
              }
            }
          }
        }
      }
      .btn-menu-mobile {
        display: none;
        @include media("<phablet") {
          display: block;
          background-color: $white;
          border: none;
          border-left: 1px solid $lightgrey;
          height: 42px;
          width: 56px;
          padding: 13px 20px 12px 15px;
          .menu-bar {
            display: block;
            width: 20px;
            height: 3px;
            background-color: $secondary;
            position: relative;
            &:before {
              content: '';
              display: block;
              width: 20px;
              height: 3px;
              background-color: $secondary;
              position: absolute;
              top: -7px;
            }
            &:after {
              content: '';
              display: block;
              width: 20px;
              height: 3px;
              background-color: $secondary;
              position: absolute;
              top: 7px;
            }
          }
        }
      }
    }
  }

  &--sticky {
    position: fixed;
  }

  .menu-mobile {
    height: 0px;
    padding: 0 30px 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
    background-color: $secondary;
    z-index: 999;
    max-height: 100vh;
    overflow-y: scroll;

    transition: all 0.5s;
    * {
      transition: all 0.5s;
    }

    .header__navs__menu__contact{
      background-color: #155b9e;
      margin: 0 -30px;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-content: stretch;
        li {
          a {
            border:none;
          }}}
    }
    ul {
      li {
        a , h1{
          display: block;
          width: 100%;
          font-family: $font_title;
          font-size: 30px;
          line-height: 40px;
          letter-spacing: 1px;
          color: $bg;
          text-transform: uppercase;
          text-decoration: none;
          padding: 0;
          border-top: 1px solid rgba($white, 0.2);
        }
        h1 {
          border-top: none;
          position: relative;
          &:after{
            content: '';
            width: 30px;
            height: 2px;
            background-color: $white;
            position: absolute;
            left: 0;
            bottom: -7px;
            transition: all 0.5s;
          }
        }
        .btn {
          margin-left: -30px;
          margin-right: -30px;
          width: auto;
          text-align: left;
          padding: 0 0 0 30px;
          height: 0;
        }
      }
    }

    .lang-mobile{
      position: absolute;
      top: 0px;
      left: 25px;
      display: block;
      li{
        display: inline-block;
        padding: 5px 0px 0px;

        a,span{
          display: block;
          width: 100%;
          font-family:$font_default;
          letter-spacing: 1px;
          color: $bg;
          text-transform: uppercase;
          text-decoration: none;
          padding: 0 10px;
          font-size: 18px;
          line-height: 22px;
          border: none;
        }
      }
    }
    .btn-close {
      background-color: transparent;
      border: 0;
      position: absolute;
      top: 30px;
      right: 20px;
      color: $white;
      padding: 10px;
    }
    .dropdown {
      .btn-dropdown {
        background-color: transparent;
        border: none;
        display: block;
        width: 100%;
        font-family: $font_title;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 1px;
        color: $bg;
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
        padding: 26px 0 20px 0;
        border-top: 1px solid rgba($white, 0.2);
        position: relative;
        .icon {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 7px;
          height: 59px;
          margin: auto;
          font-size: 28px;
          color: $white;
          transition: all 0.3s;
          padding: 20px;
        }
      }
      .dropdown-list {
        height: 0;
        padding: 0;
        overflow: hidden;
        ul {
          li {
            a {
              display: block;
              font-family: $font_title;
              font-size: 20px;
              color: $white;
              letter-spacing: 0.62px;
              line-height: 30px;
              margin-bottom: 22px;
              padding: 0;
              border: none;
            }
          }
        }
      }
      &.open {
        .btn-dropdown {
          .icon {
            transform: rotate(180deg);
          }
        }
        .dropdown-list {
          height: auto;
          padding-bottom: 17px;
        }
      }
    }
    &.open {
      @include media("<phablet") {
        padding: 83px 30px 0 30px;
        padding-top: 83px;
        height: auto;
        ul {
          li {
            a {
              padding: 26px 0 20px 0;
            }
            .btn {
              height: 98px;
              padding: 29px 0 29px 30px;
            }
          }
        }
        .lang-mobile{
          position: absolute;
          top: 35px;
          left: 25px;
          display: block;
          li{
            display: inline-block;
            padding: 5px 0px 0px;
            a,span{
              padding: 0 10px;
              font-size: 18px;
              line-height: 22px;
              border: none;
            }
          }
        }
      }
    }
  }

  .btn-budget {
    width: 235px;
    display: block;
    @include media("<desktop") {
      width: 200px;
    }
    @include media("<tablet") {
      position: absolute;
      top: 39px;
      right: 0;
      height: 61px;
      padding: 20px 15px;
    }
    @include media("<phablet") {
      display: none;
    }
  }
}